html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { 
	margin:0; padding:0;
}
fieldset, img { 
	border:none; 
}
address, caption, cite, code, dfn, th, var { 
	font-style:normal; font-weight:normal; 
}
ul,ol li{
	list-style: none;
}
img{
	display: block;
}
a{
	text-decoration: none;
}
a:hover{
	color: red;
}
/*header*/
header{
	height: 90px;
	padding-left: 122px;
	padding-top: 23px;
}
header img{
	float: left;
	margin-right: 95px;
}
header #warning{
	float: left;
	width: 900px;
	height: 30px;
	border: 1px #ffb4a8 solid;
	background: #fef2f2;
	color: #6c6c6c;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
/*section*/
section{
	height: 600px;
}
section img{
	float: left;
}
section #box{
	width: 513px;
	height: 600px;
	background: #e42610;
	float: left;
}
section #login{
	width: 350px;
	height: 354px;
	background: #fceae8;
	margin-top: 120px;
}
section h1{
	font-size: 17px;
	font-weight: normal;
	padding: 30px 25px;
}
section form input{
	width: 300px;
	height: 40px;
	margin-left: 25px;
	margin-bottom: 20px;
}
section form #btn{
	background: #ff4400;
	color: white;
	border: none;
}
section form ul li{
	float: left;
	margin-left: 25px;
}
section form #down{
	width: 260px;
	float: right;
	margin-top: 15px;
}
section form ul li a{
	font-size: 12px;
	color: #717171;
}
section form .iconfont{
	
}
/*footer*/
footer{
	height: 220px;
	padding-top: 60px;
}
footer ul{
	width: 1200px;
	height: 43px;
	margin: 0 auto;
	border-top: 1px #ddd solid;
	border-bottom: 1px #ddd solid;
}
footer #second,#third{
	border: none;
}
footer ul li{
	float: left;
	margin: 0 10px;
	background: url(../img/footer_line.jpg) no-repeat right center;
}
footer #first li{
	margin: 0;
	padding: 0 10px;
}
footer #second li{
	margin: 0 5px 0 10px;
	background: none;
}
footer #last{
	background: none;
}
footer ul li a{
	display: block;
	height: 43px;
	line-height: 43px;
	text-align: center;
	color: #6c6c6c;
	font-size: 12px;
}
footer .last,#third{
	color: #9c9c9c;
	font-size: 12px;
	text-align: center;
}
footer .last{
	height: 43px;
	line-height: 43px;
}
footer img{
	padding-left: 120px;
}
